.finish-screen h1 {
    font-family: sans-serif;
    font-size: 4em;
}

.overlay-box {
    background-color: lightgrey;
    border: 1px solid #000;
    text-align:center;
    height: 150px;/*height needs to be set*/
    border-radius: 100px;
    width: 200px;
    margin: auto;
    margin-top: 235px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay-box p {
    margin-top: 60px;
}
