.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.songDisplayWrapper{
  margin-top:1%;
}

.chordBtn{
  background-color:  #e7e7e7;; /* Green */
  border: 1px black solid;
  color: black;
  padding: 20px 35px;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.songImage{
  width:170px;
  height:170px;
  float:right;
}

.songTitleWrapper{
  float:right;
  width: 40%;
  margin-right: 5%;
  margin-top: 2%;
}

.songTitle{
  font-size: 40px;
}

.clearBoth{
  clear:both;
}

.fixToRight{
  margin-left: 10%;
}

.chords{
  margin-top:10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
