.successScreenWrapper{
  margin-top: 10%;
}

.songDisplayWrapper{
  margin-top: 1%;
}

.chordBtn{
  background-color:  #e7e7e7;; 
  border: 1px black solid;
  color: black;
  padding: 25px;
  margin-left: 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.chordBtn:disabled {
  color: darkgray;
}

.chordBtn p {
    margin-bottom: 0;
}

.songImage{
  float:right;
}

.songTitleWrapper{
  float:right;
  width: 40%;
}

.songTitle{
  font-size: 40px;
}

.sadSmiley {
  float: left;
}

.chordName{
  font-size: 40px;
  font-weight: bold;
}

.clearBoth{
  clear:both;
}

.chords{
  margin-top:10px;
}

.plusSign{
  font-size: 120px;
  font-weight: 100;
}

.infotext {
  line-height: 170%;
}

.infotext p {
  margin-top: 2%;
  margin-bottom: 0.5em;
}
