.successScreenWrapper{
  margin-top: 10%;
}

.songDisplayWrapper{
  margin-top: 1%;
  margin-left: 0;
  maring-right: 0;
}

.plusSign{
  font-size: 120px;
  font-weight: 100;
  padding: 50px 100px 50px 100px;
}

@media (min-width: 992px) {
    .songImage {
        padding-right: 15%;
    }
}

.songImage{
    float: right;
    position: absolute;
    white-space: nowrap;
    overflow-x: auto;
}

.songTitle{
  font-size: 40px;
  overflow: hidden;
}

.sadSmiley {
    align-self: right;
}

.chordName{
  font-size: 40px;
  font-weight: bold;
}

.clearBoth{
  clear:both;
}

.chords{
  margin-top:10px;
}

.chordsTable {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
}

.chords .chordBtn {
  margin-left: 5px;
  margin-right: 5px;
}

.pretestCircle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: auto;
    background-color: black;
}

.chordBtn:focus .pretestCircle {
    background-color: grey;
}

.infotext {
  line-height: 170%;
}

.infotext p {
  margin-top: 2%;
  margin-bottom: 0.5em;
}
